{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Create a New Teacher {% endblock %}</h1>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class="flashes">
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}

  <form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Enter name" class="form-control" value="{{ request.form['name'] }}">
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Enter surname" class="form-control" value="{{ request.form['surname'] }}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{ url_for('teachers') }}" class="btn btn-dark">Back</a>
  </form>
{% endblock %}
