{% extends 'base.html' %}

{% block content %}
  <h1>{% block title %} Create a New Teacher {% endblock %}</h1>

  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class="flashes">
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}

  <form method="post">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Enter name" class="form-control" value="{{ request.form['name'] }}">
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" name="surname" placeholder="Enter surname" class="form-control" value="{{ request.form['surname'] }}">
    </div>

    <div class="form-group">
        <label for="classes">Select Classes</label>
        {% for dance_class in dance_classes_form %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="dance_classes_form" value="{{ dance_class['dance_class_id'] }}">
                <label class="form-check-label" for="{{ dance_class['dance_class_id'] }}">
                    {{ dance_class['dance_class_name'] }}
                </label>
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{ url_for('teachers') }}" class="btn btn-dark">Back</a>
  </form>
{% endblock %}
