{% extends 'base.html' %}

{% block content %}
  <h2>{% block title %} Our Teachers: {% endblock %}</h2>

  {% for teacher in teachers %}
    <div>
      <a href="{{ url_for('teacher', teacher_id=teacher['teacher_id']) }}">
        <h5>{{ teacher['name'] ~ ' ' ~ teacher['surname'] }}</h5>
      </a>
    </div>
    <div class="dropdown-divider"></div>
  {% endfor %}

  <div class="form-group">
    <a class="btn btn-primary" href="{{ url_for('create_teacher') }}" role="button">New Teacher</a>
  </div>
{% endblock %}
